@using Assignment1.Models
@model SearchFlower
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <h4>Search Flower Names Products</h4>

    <p>Search: @Html.TextBoxFor(s => s.FlowerNameSearched)</p>
    <input type="submit" value="Search"/>
    <br/>
    <br />

    <h4>Filter Products</h4>

    <p>Color:</p>
    @Html.DropDownListFor(s => s.FlowerColorSelected, Model.AllFlowerColors, "Please Select a Color")

    <p>Size:</p>
    @Html.DropDownListFor(s => s.FlowerSizeSelected, new List<SelectListItem>
    {   
        new SelectListItem { Text="Small", Value="small" },
        new SelectListItem { Text="Medium", Value="medium"},
        new SelectListItem { Text="Large", Value="large"}
    }, "Please Select a Size");

    <p>
        Price: <br /> 
        @Html.DropDownListFor(s => s.FlowerStartPriceSelected, new List<SelectListItem>
        {
            new SelectListItem { Text="0", Value="0" },
            new SelectListItem { Text="25", Value="25"},
            new SelectListItem { Text="50", Value="50"},
            new SelectListItem { Text="75", Value="75" },
            new SelectListItem { Text="100", Value="100"},
            new SelectListItem { Text="125", Value="125" },
            new SelectListItem { Text="150", Value="150"},
            new SelectListItem { Text="175", Value="175" },
            new SelectListItem { Text="200", Value="200"}
        }, "From")

        @Html.DropDownListFor(s => s.FlowerEndPriceSelected, new List<SelectListItem>
        {
            new SelectListItem { Text="0", Value="0" },
            new SelectListItem { Text="25", Value="25"},
            new SelectListItem { Text="50", Value="50"},
            new SelectListItem { Text="75", Value="75" },
            new SelectListItem { Text="100", Value="100"},
            new SelectListItem { Text="125", Value="125" },
            new SelectListItem { Text="150", Value="150"},
            new SelectListItem { Text="175", Value="175" },
            new SelectListItem { Text="200", Value="200"}
        }, "To")
    </p>
    <input type="submit" value="Apply Filters" />

    
}