@using Assignment1.Models;
@model IEnumerable<FLOWER>
@using System.Globalization;
@using Assignment1.Helpers

@{
    ViewBag.Title = "Home Page";
    var flowerHeaderColor = "Red";

    foreach (var flower in Model)
    {
        foreach (var color in ViewBag.allColors)
        {
            if (color.COLOR_ID == flower.COLOR_ID)
            {
                flowerHeaderColor = color.COLOR_NAME;
            }
        }
    }
}

<div id="image-show" class="none">
    <span id="x" color="red">X</span>
</div>



<div class="first-column">
        <h1 class="home-first-title">Our Shop</h1>
        <h2 class="home-third-title">@flowerHeaderColor</h2>
        <hr />   

        <div class="cards-container">
            
            @foreach (var flower in Model)
            {
                var flowerColor = "";

                foreach (var color in ViewBag.allColors)
                {
                    if (color.COLOR_ID == flower.COLOR_ID)
                    {
                        flowerColor = color.COLOR_NAME;
                        flowerHeaderColor = flowerColor;
                    }
                }

                <div class="card" style="border-bottom: 4px solid @flowerColor">
                    <img src="~/Content/images/@flowerColor.ToLower()/@flower.FLOWER_NAME/thumb.jpg" class="image-thumbnail" alt="@flower.convertToNormalName(flower.FLOWER_NAME).ToTitleCase()"/>
                    <h4>@flower.convertToNormalName(flower.FLOWER_NAME).ToTitleCase()</h4>
                    <ul>
                        @{
                            foreach (var record in ViewBag.flowerCharacteristics)
                            {
                                if (record.FLOWER_ID == flower.FLOWER_ID)
                                {
                                    <li>@record.CHAR_DESC</li>
                                }
                            }
                        }
                    </ul>
                </div>
            }
        </div>
    </div>

<div class="second-column">

    @Html.Action("Index", "SearchFlower")

</div>

